@charset "UTF-8";
$font-normal:#333;
*{margin: 0;padding: 0;}
html { font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { line-height: 1.5; color: $font-normal;  height: 100%;  -webkit-overflow-scrolling: touch; }
a{color: $font-normal; text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
h1,h2,h3,h4,h5,h6{
  font-weight: normal;}
img{
  width: 100%;max-width: 100%;}
li{list-style-type: none;}
.fl{
  float: left;}
.wrap-body{
  margin: 0 auto;
  width: 100%;
  background: #ffffff;
  }
.header{
  height: 64px;
    .header-index,.header-login{
      margin-top: 24px;
      height: 26px;
      float: right;
      font-size: 1.4em;
      font-weight: bold;
      text-indent: 6px;
      line-height: 20px;

    }
    .header-login{
      margin-right: 5px;
    }
    .logo-pic{
      margin-top: 10px;
      float: left;
      width: 188px;
    }
    .logo-house{
      margin-top: 24px;
      float: right;
      width: 17px;
    }
    .logo-people{
      margin-left: 5px;
      margin-top: 24px;
      float: right;
      width: 14px;
    }
}

.naver{
  height: 48px;
  background: #095fb3;
}
.nav-list-1{
  position: relative;
  height: 48px;
    li{
      width: 25%;
      height: 48px;
      float: left;
      line-height: 48px;
      text-align: center;
        span{
          display: block;
          color: #ffffff;
          font-size: 1.4em;
        }
        &:hover{
          background: #0267cc;
        }
        /*&:hover .nav-list-2{
          display: block;
        }*/
    }

}
.nav-list-2{
  display: none;
  position: absolute;
  z-index: 99;
  top: 48px;
  left: 0;
  width: 100%;
  height: 50px;
  background: #efefef;
    li{
      height: 48px;
      line-height: 48px;
        a{
          display: block;
          color: #333333;
          font-size: 1.2em;
        }
        &:hover{
          background: none;
          border-bottom: 2px solid #fe9901;
        }
    }
    .active{
      background: none;
      border-bottom: 2px solid #fe9901;
    }
}

.slider-wrap{
  width: 100%;

  background: #eeeeee;
  overflow: hidden;}
.list-wrap{
  overflow: hidden;

}
.tw-list{
  margin: 0 auto;
  width: 95.666666%;
  overflow: hidden;
  li{
      padding-bottom: 22px;
      min-height: 144px;
      border-bottom: 1px solid #ccc;}
}
.tw-list-pic{
  margin: 22px 10px 1px 6px;
  width: 130px;
  height: 98px;
  float: left;}
.wt-list-tt {
  padding: 22px 10px 0 0;
  font-size: 1.6em;
  line-height: 22px;
    span{
      color: #ff9900;
    }
}
.wt-list-time{
  margin-top: 4px;
  margin-right: 18px;
  display: block;
  text-align: right;
  font-size: 1.4em;
  color: #999999;
    span{
      margin-right: 5px;}
}
.list-more{
  height: 38px;
  line-height: 38px;
  font-size: 1.2em;
  text-align: center;
}
.footer{
  overflow: hidden;}
.footer-nav{
  background: #efefef;
  border-top: 2px solid #095fb3;
  text-align: center;
    a{
      padding: 10px;
      font-size: 1.4em;
      display: inline-block;}
}
.footer-info{
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.0em;
}
.apply{
  position: relative;
  height: 60px;
    .left,.right{
      width: 50%;
      height: 60px;
      background: #ff6600;
      &:active{
          opacity: .7;
        }
    }
    .left {
      float: left;
      background-image: url("../img/bm.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;

    }
    .right {
      float: right;
      background-image: url("../img/qd.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  .line{
    position: absolute;
    top: 12px;
    left: 50%;
    width: 2px;
    height: 42px;
    background: #ff944d;}
}
.show-wrap{
  padding-bottom: 15px;
  margin: 0 auto;
  width: 90%;
    h2{
      margin: 15px 0;
      font-size: 2.4em;
      text-align: center;
    }
    p{
      font-size: 1.4em;
    }
}
.member-wrap {
  margin: 0 auto;
  padding: 20px 0;
  width: 95%;
  overflow: hidden;
}
.member-zw{
  position: relative;
  height: 26px;
  overflow: hidden;

    .line{
      position: absolute;
      z-index: 1;
      top: 12px;
      height: 1px;
      width: 100%;
      border-top: 1px solid #000;}
}
.member-zw-h3{
    position: relative;
    z-index: 2;
    margin: 0 40%;
    height: 26px;
    font-size: 2.2em;
    line-height: 26px;
    background: #fff;
    text-align: center;
}
.member-zw-h3-long{
  margin: 0 34%;
}
.member-inof{
  padding-top: 30px;
  overflow: hidden;
    dd{
      margin: 0 40px 0 52px;
      float: left;
      width: 80px;
      height: 112px;
      overflow: hidden;}
    dt{
      font-size: 1.4em;
      line-height: 24px;
    }
}
.member-inof-con{
  margin: 20px auto;
  width: 80%;
  display: block;
  font-size: 1.4em;
  line-height: 24px;
}
.article-wrap{
  margin: 0 auto;
  width: 95%;
  overflow: hidden;
}
.article-head{
  padding: 20px 0 15px;
  border-bottom: 1px solid #ccc;
  text-align: center;
    h2{
      font-size: 1.6em;
    }
    time{
      margin-top: 10px;
      display: block;
      font-size: 1.2em;
      color: #999999;
    }
}
.article-info{
  padding: 14px 0 14px 6px;
  border-bottom: 1px solid #ccc;
  color: #666666;
    span{
      color: #ff9900;}
}